<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password page</title>
    <link rel="stylesheet" href="/css/forget.css" />
  </head>
  <body>
    <div class="Wrapper">
      <div class="container">
        <div class="tittle -section">
          <h2 class="title">RESET PASSWORD</h2>
          <p class="para">
            Enter your mail send link your mail please check and verify if your
            mail before account create you have a link below .click link &your
            new password
          </p>
        </div>
        <form action="" class="from">
          <div class="input-group">
            <label for="" class="label-tittle">Enter your Email</label>
            <input type="email" name="email" placeholder="enter your mail" />
            <span class="icon">&#993;</span>
          </div>
          <div class="input-group">
            <button class="submit-btn" type="submit">send Reset Email</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
