/* html {
  margin: 0;
  height: 100%;
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  /* height: 100%; */
}

.main-body {
  height: 100%;
  background: url("/images/background.jpg");
  /* background-color: blanchedalmond; */
  background-size: 100% 100%;
  color: white;
  /* height: 100%; */
}

.main-body h3 {
  text-decoration: underline;
  margin: 1.5rem;
}

.row-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rows {
  margin: 0.5rem;
  height: 5rem;
  width: 30rem;
  border-radius: 20px;
  background-color: white;
  color: black;
  text-align: start;
  padding: 0.5rem;
  cursor: pointer;
  caret-color: transparent;
  transition: all 0.3s ease;
}

.rows:hover {
  margin: 0;
  height: 6rem;
  width: 31rem;
}

.rows h4 {
  text-align: center;
}

.rows p {
  margin: 0;
  margin-left: 1.5rem;
}

.footer {
  height: 1.5rem;
  text-align: center;
  font-weight: 500;
  width: 100%;
  background-color: wheat;
  /* position: fixed;
    bottom: 0; */
}
